
<div class="content-body">

        <div class="container-fluid">

                 <div class="row">
                    <div class="col-12">
                        <div class="card" style="margin-top:150px;">
                            <div class="card-body">
                                <h4 class="card-title" style="margin-bottom:20px">Your products:</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration" style="width:50%; margin-left:450px">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                
                                                <th>Name</th>
                                                
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* @{
                                        int i = 1;
                                    } 
                                    @foreach(var v in ViewBag.d)
                                   {*@
                                       @foreach(var d in ViewBag.cart){
                                           
                                        <tr>
                                            <td>@d.id</td>
                                            <td>@d.name</td>
                                            <td>@d.price</td>
                                            <td>@d.quantity</td>
                                           
                                            <td>@(@d.price*d.quantity)</td>
                                            <td>
                                                <span>
                                                    <a data-toggle="tooltip" data-placement="top" title="Delete" asp-controller="Cart" asp-action="delete" asp-route-id="" >
                                                        <i class="fa fa-close color-danger"></i></a>
                                                        </span>
                                            </td>
                                        </tr>
                                        }
                                        
                                       @* i++;
                                    }*@
                                        </tbody>
                                        
                                    </table>
                                    <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary" style="background-color:#32CD32; margin-left:450px" value="Empty cart">Empty cart</button>
                                            </div>
                                      </div>
                                       <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary" type="submit" style="background-color:#32CD32; margin-left:450px"> Continue shopping</a>
                                            </div>
                                      </div>
                                       <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <h4 style="margin-left:90px">Grand Total=@ViewBag.total</h4>
                                            </div>
                                      </div>
                                       <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                              <a asp-controller= asp-action= asp-route-id="@ViewBag.id" type="submit" class="btn btn-primary" style="background-color:#32CD32;margin-left:450px"> Checkout</a>
                                            
                                           
                                             
                                              </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>