@model onlineclothing2.Models.Add	
<div class="products" >	 
		<div class="container">  
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-6 single-top-left">	
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="images/s1.jpg">
									<div class="thumb-image detail_images"> <img src="@ViewBag.d.imgpath" data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li>
								@*<li data-thumb="images/s2.jpg">
									 <div class="thumb-image"> <img src="images/s2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li>
								<li data-thumb="images/s3.jpg">
								   <div class="thumb-image"> <img src="images/s3.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li> *@
							</ul>
						</div>
					</div>
					<div class="col-md-6 single-top-right">
						<form  asp-controller="Single" asp-action="addtocart" method="post">
						<h3 class="item_name"> @ViewBag.d.name</h3>
						<p>Processing Time: Item will be shipped out within 2-3 working days. </p>
						<div class="single-rating">
							<ul>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="rating">20 reviews</li>
								<li><a href="#">Add your review</a></li>
							</ul> 
						</div>
						@{var role = Context.Session.GetString("role"); }
                       @{var email = Context.Session.GetString("email"); }

						<div class="single-price">
							<ul>
								<li>RS.@ViewBag.d.price</li>  
								<li><del>RS.@ViewBag.d.oprice</del></li> 
								@*<li><p>Size</p>@ViewBag.d.price</li> 
								<li><p style="color:red">Available:</p>@ViewBag.d.stock Pcs</li> *@
							</ul>	
							<h3 style="color:red">Available:@ViewBag.d.stock Pcs</h3>
							<h3 style="color:red">Size:@ViewBag.d.size </h3>
							<h3> Place your quantity:<input type="number" name="quantity" min="1" max="5" value=""/></h3>
						</div> 
					@*	<p class="single-price-text">@ViewBag.d.Description </p>*@
						

							<input type="hidden" name="username" value="@email" />
							<input type="hidden" name="name" value="@ViewBag.d.name" />
							<input type="hidden" name="category" value="@ViewBag.d.category" />
							<input type="hidden" name="price" value="@ViewBag.d.oprice" />
							<input type="hidden" name="id" value="@ViewBag.d.id" />

							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="add" value="1" /> 
							<input type="hidden" name="w3ls1_item" value="Handbag" /> 
							<input type="hidden" name="amount" value="540.00" /> 
							<button    type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
						</form>
						
					</div>
				   <div class="clearfix"> </div>  
				</div>
			</div> 
				
			<!-- collapse-tabs -->
			<div class="collpse tabs">
				<h3 class="w3ls-title">About this item</h3> 
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-file-text-o fa-icon" aria-hidden="true"></i> Description <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
						 @ViewBag.d.Description
							</div>
						</div>
					</div>
					
						
					
					
					
				</div>
			</div>
			<!-- //collapse --> 
		</div>
	</div>
<!-- newsletter -->
	
<!-- //newsletter -->

	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->  

